* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

html,
body,
#root,
.App {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #333;
  background-color: #fff;
  font-size: 16px;
}

code {
  font-family: monospace;
  color: red;
  background-color: #e6e6e6;
  border-radius: 6px;
}

/***************** header **************/

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 2px #33333338;
  position: fixed;
  width: 100%;
  height: 56px;
}

h1 {
  margin: 0;
  font-weight: normal;
}

h2 {
  margin: 0;
  font-weight: normal;
}

h3 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  margin: -6px;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

li {
  display: block;
  padding: 10px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: #333;
}

li a:hover,
.menu-btn:hover {
  background-color: transparent;
}

.logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  margin: -4px 0px 0 -10px;
  width: 128px;
  text-decoration: none;
}

/******************** menu *******************/

.menu {
  display: flex;
  flex-direction: column;
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  padding-left: 10px;
  background-color: #fff;
}

/******************* menu icon **************/

.menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 25px 20px;
  position: relative;
  user-select: none;
}

.navicon {
  display: block;
  position: relative;
  width: 26px;
  height: 5px;
  background: #333;
  border-radius: 6px;
  transition: background 0.2s ease-out;
}

.navicon:before,
.navicon:after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #333;
  border-radius: 6px;
  transition: all 0.2s ease-out;
}

.navicon:before {
  top: 8px;
}

.navicon:after {
  top: -8px;
}

/******************* menu btn *****************/

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu {
  max-height: 240px;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/******************* main page ******************/

.container-main {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 375px;
  margin: 165px 0 150px 0;
}

/* image */

.container-my-image__mobile {
  object-fit: cover;
  height: 250px;
  width: 265px;
}

.container-my-image__tablet {
  display: none;
}

/* text */

.container-text {
  width: 306px;
  margin-top: 90px;
  text-align: center;
}

/* footer */

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 65px;
  /* width: 250px; */
}

/* icon text */

.container-icon-text {
  display: flex;
}

/* text */

.container-text__footer {
  padding: 0 0 0 5px;
  font-weight: bold;
}

/* icons */

.container-icons {
  display: flex;
  justify-content: space-between;
  width: 139px;
  cursor: pointer;
}

.icon-envelope {
  height: 18px;
  width: 28px;
}

/*************** About me Page *************/

.container-main__AboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 333px;
  margin: 165px 0 110px 0;
}

.container-text__header {
  margin-bottom: 26px;
}

.container-text-part__one {
  margin-bottom: 26px;
}

.container-text-title__img {
  margin-top: 26px;
}

.container-img-stacks {
  display: flex;
  margin: 10px 0 10px 0;
}

.container-img-stacks img {
  width: 60px;
  height: 50px;
  padding: 0 12px 0 0;
}

.container-text-part__three {
  margin-bottom: 26px;
}

.container-text-footer {
  margin-bottom: 26px;
}

/***************** page posts **************/

.container-post__title {
  margin-top: 165px;
  max-width: 333px;
}

.container-title__card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 333px;
  height: 70px;
  margin-bottom: 26px;
  background-color: #333;
  color: #fff;
  font-size: 25px;
}

.container-card__async-await:hover {
  box-shadow: 0px 2px 5px 2px #33333369;
}

.container-card__async-await {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 333px;
  height: 100px;
  text-align: center;
  border-radius: 6px;
  background-color: #e6e6e6;
}

/******************* page Async Await ***************/

.container-post__one {
  max-width: 333px;
  margin-top: 150px;
}

.container-title {
  /* font-size: 17px; */
  font-weight: bold;
}

.container-text-async__await {
  margin: 26px 0 26px 0;
}

.container-image-async__await {
  max-width: 333px;
  border-radius: 6px;
}

.container-text-list {
  margin-top: 26px;
}

.container-text-async__await li {
  margin-left: -19px;
  border: none;
}

/******************* 768px Main Page ********************/

@media (min-width: 768px) and (max-width: 1023px) {
  /* image */

  .container-my-image__mobile {
    display: none;
  }

  .container-my-image__tablet {
    display: block;
    margin-top: 181px;
    width: 250px;
    height: 240px;
  }
}

/************* 768px About Me page ****************/

@media (min-width: 768px) and (max-width: 1023px) {
  .container-main__AboutMe {
    max-width: 690px;
    margin: 175px 0 110px 0;
  }

  .container-text__header {
    margin-bottom: 35px;
  }

  .container-text-part__one {
    margin-bottom: 35px;
  }

  .container-text-title__img {
    margin-top: 35px;
  }

  .container-img-stacks {
    margin: 20px 0 20px 0;
  }

  .container-img-stacks img {
    width: 70px;
    height: 60px;
    padding: 0 12px 0 0;
  }

  .container-text-part__three {
    margin-bottom: 35px;
  }

  .container-text-footer {
    margin-bottom: 35px;
  }
}

/************* 768px page posts **************/

@media (min-width: 768px) and (max-width: 1023px) {
  .container-post__title {
    margin-top: 165px;
    max-width: 690px;
  }

  .container-title__card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 70px;
    margin-bottom: 26px;
    background-color: #333;
    color: #fff;
    font-size: 25px;
  }

  .container-card__async-await:hover {
    box-shadow: 0px 2px 5px 2px #33333369;
  }

  .container-card__async-await {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 100px;
    text-align: center;
    border-radius: 6px;
    background-color: #e6e6e6;
  }
}

/*************** page Async Await *************/

@media (min-width: 768px) and (max-width: 1023px) {
  .container-post__one {
    max-width: 690px;
  }

  .container-image-async__await {
    max-width: 690px;
  }

  .container-main {
    margin: 0 0 150px 0;
  }
}

/****************** 1024px main page *********************/

@media (min-width: 1024px) {
  /* header */
  .header li {
    float: left;
  }

  .header li {
    padding: 20px 30px;
  }

  /* menu */

  a {
    text-decoration: none;
    color: #333;
  }

  .menu {
    display: block;
    clear: none;
    float: right;
    max-height: none;
    margin: -8px;
  }

  /* menu a hover before */
  .menu a:before {
    display: block;
    content: " ";
    width: 0;
    height: 1px;
    background-color: #333;
    transition: all 0.5s;
  }

  .menu a:hover:before {
    /* width: 100%; */
  }

  .menu a:after {
    display: block;
    content: " ";
    width: 0;
    height: 1px;
    background-color: #ccc5c5;
    transition: all 0.2s;
  }

  /* menu a after hover */

  .menu a:hover:after {
    width: 100%;
    background-color: #ccc5c5;
  }

  /* menu icon */

  .menu-icon {
    display: none;
  }

  /* image */

  .container-my-image__mobile {
    display: none;
  }

  .container-my-image__tablet {
    display: block;
    margin-top: 181px;
    width: 280px;
    height: 260px;
  }
}

/******************* main page ******************/

@media (min-width: 1024px) {
  .container-main {
    margin: 0 0 150px 0;
  }
}

/*************** 1024px About Me page ****************/

@media (min-width: 1024px) {
  .container-main__AboutMe {
    max-width: 1000px;
    margin: 175px 0 110px 0;
  }
}

/*************** 1024px Page Posts ****************/

@media (min-width: 1024px) {
  .container-post__title {
    max-width: 1000px;
  }

  .container-title__card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 70px;
    margin-bottom: 26px;
    background-color: #333;
    color: #fff;
    font-size: 25px;
  }

  .container-card__async-await:hover {
    box-shadow: 0px 2px 5px 2px #33333369;
  }

  .container-card__async-await {
    width: 900px;
  }
}

/*************** 1024px page Async Await  ****************/

@media (min-width: 1024px) {
  .container-post__one {
    max-width: 1100px;
  }

  .container-image-async__await {
    max-width: 1000px;
  }
}
